{% extends "user_order_station.html" %}

{% block user_order_station_occupied %}


<tr>
    <th>station id</th>
    <th>title of the channel</th>
    <th>channel price</th>
    <th>Channel occupancy</th>
    <th>Occupied by</th>
</tr>
<tr>
    {% for i in channel_filtered %}
        <td><input type="checkbox" name="table" value="{{ i.id }}">{{i.title}}</td>
        <td>{{i.price}}</td>
        <td>{{i.occupancy}}</td>
        <td>{{i.occupied_by}}</td>
    {% endfor %}
</tr>
<tr>
    <td><input type="submit" name="button" value="Release a station"></td>
</tr>

{% endblock %}